{{template "head"}}

<title>ᓀ‸ᓂ</title>

<p id="title" class="text-[2em] text-center mt-[1.25em] mb-[0.5em]"><b>To-do list :D</b></p>

<div class="flex-col">
	<form class="flex justify-center" autocomplete="off" hx-on::after-request="this.reset()">
		<!-- text field -->
		<input id="item_input"
		class="w-[35%] bg-[lightgray] text-xl p-2.5 rounded-[15px_0px_0px_15px] border-2 border-r-0 border-black border-solid"
		type="text" name="item_content" placeholder="Add an item" minlength="1" maxlength="55" required>
		<!-- plus button -->
		<button id="add_button"
			clasr="flex-initial text-3xl text-[white] bg-[grey] px-2.5 py-[5px] rounded-[0px_15px_15px_0px] border-2 border-solid border-[black]"
			hx-put="/to-do/add-to-do" hx-target="#item_list" hx-swap="outerHTML" type="submit">&#43;
		</button>
	</form>
	<!-- the error block -->
	<p id="error"
	class="text-red-500 text-center"
	hx-trigger="htmx:afterSettle delay:1s" hx-get="/test">
	</p>

</div>
{{template "form" .}}
